style
  body { font-family: sans-serif; padding: 40px; line-height: 1.7; font-size: 10pt; color: #505060; }
  a { text-decoration: none; }
  a:visited, a { color: #d31; }
  dd { font-style: italic; font-family: georgia, serif; }
dl
  dt
    a(href='/feed.json')
      /feed.json
  dd
    | List latest entries
dl
  dt
    a(href='/feed.json?refresh=1')
      /feed.json?refresh=1
  dd
    | List latest entries, fetching new ones (use with moderation)
dl
  dt
    a(href='/sources.json')
      /sources.json
  dd
    | List down account sources
