doctype 5
html
  head
    meta(charset='utf-8')
    title Feedscout
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    != css('application')
    != js('application')

  body
    .container
      .row
        .span8.offset2
          block content

