extend ../layout
block content
  .page-header
    h1 Accounts

  - if (accounts.length)
    table.table
      thead
        tr
          th Name
          th Service
          th(style='width: 20%; text-align: right')

      each account in accounts
        tr
          td.name= account.name
          td.service= account.service
          td.actions
            a.btn.btn-small(href='/admin/accounts/'+account.id)
              i.icon-edit
              = " Edit"

  .btn-group
    a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
      = " New account "
      span.caret

    ul.dropdown-menu
      li
        a(href='/admin/accounts/new') Flickr
      li
        a(href='/admin/accounts/new/twitter') Twitter
      li
        a(href='/admin/accounts/new') Instagram
      li
        a(href='/admin/accounts/new') Tumblr
