extend ../layout
block content
  ul.breadcrumb
    li
      a(href='/admin/accounts') Accounts
      span.divider

    li.active
      | Create account

  .page-header
    h1 Add Flickr

  .well
    form.form-horizontal(method='post', action='/admin/accounts')
      input(type='hidden', name='account[service]', value=account.service)
      fieldset
        .control-group
          label.control-label Feed name
          .controls
            input(type='text', name='account[name]', value=account.name)
            br
            small.muted
              | The name to identify the feed

      fieldset
        .control-group
          label.control-label Flickr user ID
          .controls
            input(type='text', name='account[credentials][userId]', value=account.getCredentials().userId, autofocus)
            br
            small.muted
              | This is NOT your username, read below!
      .control-group
        .controls
          button.btn.btn-primary(type='submit') Continue

  div
    h5 How to fetch your user ID
    p Your user ID is the same as your username. Use idGettr.com to find your user ID.

    p
      a.btn.btn-small(href='https://idgettr.com', target='_blank')
        = "Find your user ID "
        i.icon.icon-chevron-right

