extend ../layout
block content
  ul.breadcrumb
    li
      a(href='/admin/accounts') Accounts
      span.divider

    li.active
      = account.name

  //------------------------------------------------------------------------
  .page-header
    h1
      = account.name

  //------------------------------------------------------------------------
  table.table
    - creds = account.getCredentials()
    dl
      dt Flickr user ID
      dd
        code= creds.userId

  //------------------------------------------------------------------------
  .actions
    a.btn.btn-small.btn-danger(href='/admin/accounts/'+account.id, data-method='delete', data-confirm='Really?')
      i.icon-white.icon-trash
      = " Delete account"


